a {
  text-decoration: none;

}

a:visited {
  color: blue;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  background: #7885ac;
}

/*
http://stackoverflow.com/questions/4918018/eliminate-padding-margin-around-pics-in-td-elements
Finally, I add this line, which removes that stupid spacing which appears all the time, the one that isn't padding, margin or anything.
*/
table, tr, td, th, tbody, thead{vertical-align:baseline}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

th, td {
  text-align: left;
}

img { border: 0; }



.titlebar {
  background: whitesmoke;
  border-bottom: 1px solid rgb(230,230,230);
  color: #7885ac;
  color: black;
  left: 0;
  margin: 0;
  padding: 0;
  position: page;
  top: 0;
  width: 100%;
}
.titlebar_content{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5em;
  padding-top: 0.7em;
}
.titlebar_content span {
  font-size: 1em;
  display: flex;
  justify-content: center;
}
.titlebar_link {
  color: black;
  font-weight: bold;
}

.titlebar_link_selected {
  color: #4c62a4;
}

.site_title_selected {
  color: #4c62a4;
}
.site_title {
  padding: 0;
  font-size: 2em;
  font-weight: bold;
}

.menu {
  display: inline;
}

.menu > li {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  display: inline;
  color: #bac3db;
  font-size: 1.25em;
  font-weight: 600;
  padding: 0.5em;
}

a:hover.titlebar_link {
  text-decoration: underline;
  text-decoration-color: rgb(17, 149, 5);
  /* color: rgb(200, 255, 200);*/
  text-shadow:  0 0 10px rgb(255, 255, 255),
                0 0 30px rgb(255, 255, 255) ;

}

.transition{
  position: page;
  width: 100%;
  margin: 0;
  /* background: whitesmoke; */
  padding: 0.5px;
  /* height: 3.5em; */
  border-top: 1px solid rgb(236.5,236.5,236.5);
  background: rgb(228,228,228);
  border-bottom: 1px solid rgb(219.5,219.5,219.5);
}

.background {
  padding: 0;
}

.display_area{
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 97%;
}


.page {
  background-color: whitesmoke;
  border-radius: 0.4em;
  border: 2px solid #e4e4e4;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  overflow: auto;
  padding: 0.5em;
  width: 500px;
}
.page > div {
  display: flex;
  justify-content: center;
}
.page > div div {
  display: block;
}


@media screen and (max-width: 700px) {
  body {
    background: whitesmoke;
  }
  .titlebar_content {
    padding-bottom: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0.3em;
  }
  .display_area {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .page {
    border-radius: 0;
    border: 3px solid #e4e4e4;
    margin: 0;
    padding: 0.25em;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .titlebar_content {
    width: 100%
  }
  .page {
    width: 100%
  }
  .menu {
    text-align: center;
    display: block;
  }
}











.page_title {
  color: black;
  background-color: whitesmoke;
  border-radius: 0.4em;
  padding: 0.3em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
  top: 0.75em;
  left: 0;
}

.section_title {
  margin: 0.5em;
}
.section_title a:visited {
  color: blue;
}

.section p {
  margin-left: 2em;
}

.page_name {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: steelblue;
}




.question_black, .question_red, .question_green {
  margin-left: 1em;
}
.question_black {
  color: darkgrey;
}
.question_red {
  color: red;
}
.question_green {
  color: green;
}


.module_table span {
  padding: .25em;
}
table, td, th {
  border: 1px solid lightgrey;
}
.module_table select {
  width: 14em;
}
.module_table input {
  width: 14em;
}


.data_icon {
  width: 1em;
  display:block;
  margin:0 auto;
}

.small_title {
  font-weight: bold;

}

.page > div span {
  margin-left: 1em;
}
